:root {
	--body-colour: #645242;
}

/*  RESET  */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	background-color: #faf5ef;
	color: #5b4c3f;
	line-height: 120%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

button,
select {
	font: inherit;
	color: inherit;
	background: none;
	border: none;
	outline: none;
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

button {
	cursor: pointer;
}

body {
	color: var(--body-colour, #645242);
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	padding: 0 16px;
}

/* GLOBAL */

h1,
h2 {
	font-family: 'Noto Serif Display', serif;
	color: #5b4c3f;
}
h4 {
	font-family: 'Raleyway', sans-serif;
	text-decoration: underline;
}
h1 {
	text-align: center;
	padding: 0 12px;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: -5px;
}

h1 span {
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	letter-spacing: -1px;
	padding: 0 10px;
}

h2 {
	font-size: 30px;
	font-weight: 400;
	letter-spacing: -2px;
	padding: 10px 0;
	text-transform: uppercase;
	text-align: center;
}

p,
article {
	padding: 10px 0;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 30px;
}

section {
	padding: 0 0 10px;
}
