:root {
	--body-colour: #645242;
}

/*  RESET  */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	width: 100%;
	font-family: 'raleway', 'sans-serif';
	background-color: #faf5ef;
	color: #5b4c3f;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button,
select {
	font: inherit;
	color: inherit;
	background: none;
	border: none;
	outline: none;
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

button {
	cursor: pointer;
}

body {
	color: var(--body-colour, #645242);
	font-family: Raleway;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 24px */
}
